.repl {
    position:relative;
    min-height:95vh;    
}

.repl-history-class{      
    height:85vh;   
    margin: auto;
    display: block;
    overflow: scroll;    
}

.repl-input{        
    margin: auto;    
    
}
.repl-command-box-class{
    width: 90%;            
    margin: auto;
    display: block;
}

.submit-button-class{
    display: block;
    margin: auto;
    margin-bottom: 10vh;
    margin-top: 10px;
}

